{% extends "guild_site/base.html" %}
{% load staticfiles %}

{% block title %}Гильдейский чат{% endblock %}

{% block content %}
    <h2 class="title">Гильдейский чат</h2>

    <noscript>
        Если вы видите это сообщение, значит у вас отключен или запрещен JavaScript.
        Чат не работает без JavaScript.
    </noscript>

    <div id="messages" class="blackbrdr">
        <!-- Здесь сообщения будут вставлены с помощью javascript -->
    </div>

    <input id="urlGetMsg" type="text" hidden="true" value="{{ urlGetMsg }}">
    <input id="urlPostMsg" type="text" hidden="true" value="{{ urlPostMsg }}">

    <textarea id="messageText" style="width: 400px; height: 100px"></textarea>
    <button id="postMessage">Отправить сообщение</button>

    <script src="{% static 'chat/chat.js' %}"></script>
{% endblock %}
