/* {
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
}*/


.blackbrdr {
    border: 1px solid black;
}

.title {
    text-align: center;
    margin-bottom: 5px;
}


html {
    height: 100%;
    background-color: gray;
}

body, body * {
    margin: 0;
    margin-bottom: 5px;
/*    padding: 5px;*/
}

body {
    box-sizing: border-box;
    padding: 5px;
    margin: 0 auto;
    background-color: #B0C4DE;
    min-width: 800px;
    max-width: 1100px;
    color: #404040;
}

div {
    box-sizing: border-box;
}


/*****  ССЫЛКИ   *****/

/* базовый стиль */
a {
    text-decoration: none;
}



ul {
    padding-left: 25px;
}

div#header {
    text-align: center;
/*    line-height: 100px;*/
/*    position: relative;*/
}

div#header * {
    margin: 0;
    padding: 0;
}

div#site_title, div#guild_name {
    display: inline-block;
    line-height: normal;
}


div#guild_name, img#guild_tabard {
    vertical-align: middle;
}


img#guild_tabard {
    height: 120px;
}

div#raid_time {
    font-size: 0.8em;
	text-align: center;
}

span.raid_day {
    font-weight: bold;
/*    font-size: 1.3em;*/
    color: #2222FF;
}

div#content {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 25.5%;
    overflow: auto;
}

div#messages {
    font-size: 1em;
    min-height: 200px;
    max-height: 400px;
    padding: 10px 10px 0;
    overflow: auto;
}

div#messages:after {
    content: "";
    height: 10px;
    display: block;
}


.sidebar {
    clear: right;
    float: right;
    width: 25%;
    padding: 5px;
    font-size: 1em;
}

.news_block {
    border-bottom: 3px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.news_block * {
    padding: 0;
    margin: 0;
}

.news_title {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-bottom: 3px solid blue;
}


.news_item_header {
    position: relative;
    background-color: #AAAAAA;
    border: 1px solid black;
    border-bottom: none;
}

.news_item_title {
    padding: 5px;
    display: inline-block;
    max-width: 75%;
    vertical-align: middle;
    box-sizing: border-box;
}

.news_item_info {
    position: absolute;
    right: 0;
    text-align: right;
    display: inline-block;
    max-width: 24%;
    vertical-align: middle;
    font-size: 12px;
}

.news_text,
.recruitment_text {
    padding: 10px 5px;
    text-indent: 5%;
    text-align: justify;
    background-color: #BBBBBB;
    border: 1px solid black;
/*    border-top: none;*/
}

.news_text {
    border-top: none;
}


.recruitment_text {
    margin: 5px 5%;
}

#footer {
    clear: both;
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
}


#footer a {
    display: inline-block;
    margin: auto 10px;
    text-decoration: none;
}

.sidebar a:hover,
#footer a:hover
{
    color: blue;
    background-color: lightgreen;
}
