/* {
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
}*/


.blackbrdr {
    border: 1px solid black;
}

.title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}


html {
    height: 100%;
    background-color: #DDDDDD;
}

body, body * {
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #B0C4DE;
    color: #505050;
    min-width: 800px;
    max-width: 1000px;
}

div {
    box-sizing: border-box;
}


div#header {
    text-align: center;
    line-height: 100px;
    position: relative;
}

div#header * {
    margin: 0;
    padding: 0;
}


div#site_title, div#guild_name {
    display: inline-block;
    line-height: normal;
}


div#guild_name, img#guild_tabard {
    vertical-align: middle;
}


img#guild_tabard {
    height: 120px;
}


div#nav, div#raid_time {
    float: right;
    width: 30%;
}

div#raid_time {
    clear: right;
	text-align: center;
}

div#content {
    margin-right: 30.5%;
    overflow: auto;
}


div#footer {
    clear: right;
    margin-bottom: 0;
}

.news_block {
/*    border: 1px solid blue;*/
    border-bottom: 3px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.news_block * {
    padding: 0;
    margin: 0;
}

.news_title {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-bottom: 3px solid blue;
}


.news_item_header {
    position: relative;
    margin-bottom: 10px;
    background-color: #AAAAAA;
}

.news_item_title {
    padding: 5px;
    display: inline-block;
    max-width: 75%;
    vertical-align: middle;
/*    background-color: #AAAAAA;*/
    box-sizing: border-box;
}

.news_info {
    position: absolute;
    right: 0;
    text-align: right;
    display: inline-block;
    max-width: 24%;
    vertical-align: middle;
    font-size: 12px;
}

.news_text {
    padding: 5px;
    text-indent: 5%;
    text-align: justify;
    background-color: #BBBBBB;
}

