{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>{% block title %}Гильдия {{ guild.name }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "guild_site/guild_site.css" %}">
</head>
<body>

    <!--  Заголовок  -->
    <div id="header" class="blackbrdr">
        {% block header %}
        <div id="site_title">
            <div id="guild_name">
                <h1>{{ guild.name  }}</h1>
                <h3>{{ guild.server }} ({{ guild.fraction }})</h3>
            </div>
            <a href="{{ guild.wow_page }}" target="_blank">
                <img id="guild_tabard" src="{% static "guild_site/images/guild_tabard.png" %}">
            </a>
        </div>
        {% endblock %}
    </div>

    <!-- Данные о пользователе -->
    <div id="user_info" class="sidebar blackbrdr">
    {% if request.user.is_authenticated %}
        <h3 class="title">{{ request.user.username }}</h3>
        <h4 class="title"><a href="{% url 'logout'%}">(выход)</a></h4>
    {% else %}
        <h3 class="title">
            <a href="{% url 'login' %}">Войти</a>
        </h3>
    {% endif %}
    </div>

    <!--   Важная информация   -->
    <div id="raid_time" class="sidebar blackbrdr">
        <h4>Когда мы рейдим:</h4>
        <p>
            <span class="raid_day">Пн</span>
            <span class="">Вт</span>
            <span class="raid_day">Ср</span>
            <span class="raid_day">Чт</span>
            <span class="">Пт</span>
            <span class="">Сб</span>
            <span class="">Вс</span>
        </p>
        <p>20:00 - 23:00 (мск)</p>
    </div>

    <!--   Навигация по сайту  -->
    <div id="nav" class="sidebar blackbrdr">
        <h4 class="title">Навигация</h4>
        {% block navigation %}
            <div>
                <ul>
                    <li><a href="{% url 'index' %}">На главную</a></li>
                    <li><a href="{% url 'recruitment' %}">Прием в гильдию</a></li>
                    <li><a href="{% url 'chat' %}">Гильдейский чат</a></li>
                </ul>
            </div>
        {% endblock %}
    </div>

    <!-- Ссылки на полезные странички гильдии на других сайтах-->
    <div id="guild_links" class="sidebar blackbrdr">
        <h4 class="title">Ссылки на нас:</h4>
        {% block guild_links %}
            <ul>
                <li><a href="https://www.wowprogress.com/guild/eu/ревущий-фьорд/Мастер+Шифу" target="_blank">Мы на Wowprogress</a></li>
                <li><a href="https://www.warcraftlogs.com/guilds/218032" target="_blank">Наши логи на Warcraftlogs</a></li>
            </ul>
        {% endblock %}
    </div>

    <!--  Контент сайта  -->
    <div id="content" class="">
        {% block content %}
        {% endblock %}
    </div>

    <!--  Подвальчик  -->
    <div id="footer" class="blackbrdr">
        {% block footer %}
            <a class="" href="https://www.wowprogress.com" target="_blank">Wowoprogress</a>
            <a class="footer_link" href="https://www.warcraftlogs.com" target="_blank">Warcraft Logs</a>
        {% endblock %}
    </div>

    {% block scripts %}
        <script src="{% static 'guild_site/jquery-3.2.1.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                var dt = 1000;
                $('body').fadeIn(dt);
            });
        </script>
    {% endblock %}

</body>
</html>
