{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Гильдия Мастер Шифу</title>
    <link rel="stylesheet" type="text/css" href="{% static "guild_site/guild_site.css" %}"
</head>
<body>

    <!--
        Заголовок
    -->
    <div id="header" class="blackbrdr">
        <div id="site_title">
            <div id="guild_name">
                <h1>Мастер Шифу</h1>
                <h3>Ревущий фьорд (орда)</h3>
            </div>
            <a href="{{ guild.wow_page }}" target="_blank">
                <img id="guild_tabard" src="{% static "guild_site/images/guild_tabard.png" %}" />
            </a>
        </div>
    </div>


    <!--
        Навигация по сайту
    -->
    <div id="nav" class="blackbrdr">
        <h4 class="title">Навигация</h4>
    </div>


    <!--
        Важная информация
    -->
    <div id="raid_time" class="blackbrdr">
        <h4 class="title">Когда мы рейдим</h4>
        <p>3 дня в неделю: среда, четверг, воскресенье; с 20:00 до 23:00 мск.</p>
    </div>


    <!--
        Контент сайта
    -->
    <div id="content" class="">
        <h2 class="news_title title">Последние новости</h2>

        {% for item in news %}
        <div class="news_block">
            <div class="news_item_header">
                <h3 class="news_item_title">{{item.title}}</h3>
                <div class="news_item_info">{{item.author}}<br />{{item.was_created}}</div>
            </div>
            <p class="news_text">{{item.text}}</p>
        </div>
        {% endfor %}
    </div>


    <!--
        Подвальчик
    -->
    <div id="footer" class="blackbrdr">
        <h4>Подвальчик</h4>
    </div>

</body>
</html>
