{% extends "guild_site/base.html" %}


{% block content %}
    <h2 class="news_title title">Последние новости</h2>
    {% for item in news %}
    <div class="news_block">
        <div class="news_item_header">
            <h3 class="news_item_title">{{item.title}}</h3>
            <div class="news_item_info">{{item.author}}<br />{{item.was_created}}</div>
        </div>
        <p class="news_text">{{item.text}}</p>
    </div>
    {% endfor %}
{% endblock %}

{% block footer %}
<!--    <div class="center_inline_block">-->
        <a class="footer_link" href="https://www.wowprogress.com" target="_blank">Wowoprogress</a>
        <a class="footer_link" href="https://www.warcraftlogs.com" target="_blank">Warcraft Logs</a>
<!--    </div>-->
{% endblock %}
 

