{% extends "guild_site/base.html" %}


{% block content %}
    <h2 class="title">Новобранец, внимание!</h2>
    <p class="recruitment_text">
        Гильдия "{{ guild.name }}" всегда рада новым игрокам. Твой возраст, пол, цвет глаз и длина волос не имеют значения.
        Хардкорной нашу гильдию не назовешь, однако прогресс есть и будет.
    </p>
    <p class="recruitment_text">
        Если у тебя есть желание рейдить в довольно весёлой компании, вступай в наши ряды! Ты всегда можешь обратиться онлайн
        к нашим офицерам: Мевдеди и Холикоровкэ. Если их нет онлайн, попробуй обратиться к любому другому игроку из гильдии,
        т.к. все люди из рейдового статика имеют возможность принимать в гильдию. Также к твоим услугам внутриигровая почта.
        Отправь любому офицеру сообщение с указанием времени, когда с тобой можно будет связаться, и не сомневайся - свяжутся.
    </p>

    <p class="recruitment_text">
        И самое главное! Съешь пельмешку!))
    </p>
<!--
    <h2 class="news_title title">Последние новости</h2>
    {% for item in news %}
    <div class="news_block">
        <div class="news_item_header">
            <h3 class="news_item_title">{{item.title}}</h3>
            <div class="news_item_info">{{item.author}}<br />{{item.was_created}}</div>
        </div>
        <p class="news_text">{{item.text}}</p>
    </div>
    {% endfor %}
-->
{% endblock %}


