{% extends "guild_site/base.html" %}

{% block title %}Загрузка файла на сервер{% endblock %}


{% block content %}
<!--
    <h2 class="news_title title">Последние новости</h2>
    {% for item in news %}
    <div class="news_block">
        <div class="news_item_header">
            <h3 class="news_item_title">{{item.title}}</h3>
            <div class="news_item_info">{{item.author}}<br />{{item.was_created}}</div>
        </div>
        <p class="news_text">{{item.text}}</p>
    </div>
    {% endfor %}
-->

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Отправить файл">
    </form>
{% endblock %}

